/* Body Style */
body {
	background: linear-gradient(45deg, #b3efda, #0299e4);
	font-family: "Nunito Sans", sans-serif;
	color: white;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	overflow: hidden;
}

/* Header Style */
header {
	text-align: center;
	margin-bottom: 50px;
}

h1 {
	font-size: 4rem;
	margin: 0;
}

/* Main Style */
main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 20px;
	padding: 50px;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

li {
	font-size: 2rem;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

li:hover {
	transform: scale(1.2);
}

p {
	margin: 20px 0;
	font-size: 2.5rem;
}

#result-img img {
	max-width: 150px;
	height: auto;
	max-height: 150px;
}

#result-movie a {
	background-color: #09e7c9;
	color: white;
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 2rem;
	transition: all 0.3s ease-in-out;
}

#result-movie a:hover {
	background-color: white;
	color: #0643ed;
}

/* Footer Style */
footer {
	text-align: center;
	margin-top: 50px;
}